body {
    margin: auto;

}
.page-title{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}
.subhead {
    text-align: center;
    font-size: x-large;
}
  
  p {
    font-size:large ;
    text-align: center;
  }
  
  
  ul.myul {
    text-align: center;
    list-style-position: inside;
    font-size: larger;
  }
  .btn-group{
    
    margin: auto;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-content: center;
}
.button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1{background-color: rgb(255, 8, 0);}
  .button2{background-color: rgb(255, 255, 255);}
  .button3{background-color: rgb(247, 5, 5);}

  .contact-links {
    text-align: center;
    align-content: center;
    font-size: x-large;
    padding: 10px;
    margin: 10;
  }
  