body{
    margin: auto;

}
.page-title{
    font-size: xx-large;
    text-align: center;
}

#index-subhead {
    text-align: center;
    font-size: x-large;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 70%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }

  
  p {
    font-size:large ;
    text-align: center;
  }
  
  }
  ul.myul {
    text-align: center;
    list-style-position: inside;
    font-size: larger;
  }
  .btn-group{
    
    margin: auto;
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    align-content: center;
}
.button{
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button1{background-color: rgb(255, 8, 0);}
  .button2{background-color: rgb(255, 255, 255);}
  .button3{background-color: rgb(247, 5, 5);}

  img.wt {
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
  }